h1 {
    color:black;
}

* {
    border: solid;
}


.header{

background-color:mediumturquoise;
display : flex;
justify-content: space-evenly;
    
}
.grid{

background-color:royalblue;
display : flex ;
flex-wrap : wrap;
justify-content : space-evenly;

}
.item{

background-color:skyblue;
text-align: center;

}
.footer{

background-color:teal;
display : flex ;
justify-content :flex-end;

}